@charset 'UTF-8';

// Top banner styles
.node-stanford-page-su-page-banner {  
  .su-hero {
    display: block;
    min-height: 220px;
  
    .su-hero__media {
      min-height: auto;
      position: absolute;
  
      img {
        opacity: 0.8;
      }
    }
  
    .su-hero__card {
      background: transparent;
      border: 0;
      box-shadow: none;
      left: auto;
      text-align: center;
      max-width: unset;
      margin: 0;
      bottom: unset;
  
      @include grid-media-max('sm') {
        text-align: left;
      }
  
      .su-card__contents {
        color: $su-color-white;
        width: 75%;
        margin: 0 auto;
        min-height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include grid-media-max('sm') {
          width: 100%;
        }

        :first-child {
          margin-top: 0;
        }

        h2,
        h3,
        h4,
        .su-font-splash {
          @include responsive-spacing('margin-bottom', -1);

          font-family: 'Source Serif Pro';
        }
  
        h2 {
          @include type-a;
        }
  
        p {
          @include big-paragraph;
        }
      }
    }
  }
}
