@charset "UTF-8";

#searchForm {
  justify-content: center;

  input {

    @include grid-media-min('sm') {
      margin: 0;
    }

    &:focus {
      box-shadow: unset;
    }
  }
  
  button {
    max-width: 46rem;
  }
}
