@charset "UTF-8";

#searchForm {
  justify-content: start;

  input {

    @include grid-media-min('sm') {
      margin: 0;
    }
  }
  
  button {
    max-width: 46rem;
  }
}

.jumpstart-ui--one-column {
  #searchForm {
    justify-content: center;
  }
}