{% if is_front == false %}
<div class="first-step-help-bar flex-container">
  <div class="left-region flex-lg-5-of-12">
    <div class="first-step-help-bar-text">
      <h2>Can't find what you're looking for?</h2>
    </div>
  </div>
  <nav class="flex-lg-7-of-12 main-region" aria-label="Get Help">
    <ul class="first-step-help-bar__link">
      <li data-id="d71eb2cedc" class="livechat_button">
        <a class="first-step-button--secondary-white" href="https://www.livechat.com/?utm_source=chat_button&utm_medium=referral&utm_campaign=lc_15287994">Live chat</a>
      </li>
      <li>
        <a class="first-step-button--secondary-white" href="https://stanford.service-now.com/student_services?id=sc_cat_item&amp;sys_id=f1eda5661b81fcd0d78786ecdc4bcb7f">Submit a help request</a>
      </li>
      <li>
        <a class="first-step-button--secondary-white" href="https://thehub.stanford.edu/services/get-tech-support">Call Student Tech Support</a>
      </li>
    </ul>
  </nav>
</div>
{% endif %}

{% include use %}
