{% if is_front == false %}
<div class="first-step-help-bar flex-container">
  <div class="left-region flex-lg-5-of-12">
    <div class="first-step-help-bar-text">
      <h2>Can't find what you're looking for?</h2>
    </div>
  </div>
  <div class="flex-lg-7-of-12 main-region">
    <div class="first-step-help-bar__link link label-hidden">
      <div data-id="d71eb2cedc" class="livechat_button">
        <a class="first-step-button--secondary-white" href="https://www.livechat.com/?utm_source=chat_button&utm_medium=referral&utm_campaign=lc_15287994">Live Chat</a>
      </div>
      <div>
        <a class="first-step-button--secondary-white" href="https://stanford.service-now.com/student_services?id=sc_cat_item&amp;sys_id=f1eda5661b81fcd0d78786ecdc4bcb7f">Submit ticket</a>
      </div>
      <div>
        <a class="first-step-button--secondary-white" href="https://thehub.stanford.edu/services/get-tech-support">Call Student Technical Support</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% include use %}
